<nav class="navbar bg-dark">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <img src="src/app/header/MLS-logo-500x393.png" alt=""width="20" height="20">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                News
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Video
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Standings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Schedule
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Stats
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Clubs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                ...
            </a>
        </li>
    </ul>
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Tickets
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Store
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Espanol
            </a>
        </li>
    </ul>
</nav>