<nav class="navbar bg-dark">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#shield-slash-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                News
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Video
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Standings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Schedule
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Stats
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Clubs
            </a>
        </li>
        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropDownMenu">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#three-dots" />
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" ari-laballedby="dropDownMenu">
                <li>
                    <a class="dropdown-item" href="#">
                        Competitions
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Rosters
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Gaming
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Podcasts
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Newsletters
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        eMLS
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        MLS NEXT
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Train with MLS
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Account
                    </a>
                </li>
            </ul>
        </div>
    </ul>
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#search" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Tickets
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Store
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Espanol
            </a>
        </li>
    </ul>
</nav>