<nav class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="30" height="30" color = white>
                    <use xlink:href="bootstrap-icons.svg#shield-slash-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="lan-link text-white">
                |
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Terms of Service
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Privacy Policy
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Do Not Sell My Personal Information
            </a>
        </li>
    </ul>
</nav>