<div class = "container">
    <div class = "row">
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "col-3">
            <div class = "card" style = "width: 21rem">
                <div class = "card-body">
                    <h5 class="card-title">
                        Goals
                    </h5>
                    <img src="./assets/Player-fill.png" width = "250">
                    <div class = "container" style = "background-color:#000000">
                        <div class = "row">
                            <div class = "col">
                                <a class = "nav-link text-white" style="font-size: 25px;" href="#">
                                    Player Name
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-9">
                                <a class = "nav-link text-white" href="#">
                                    Player Team
                                </a>
                            </div>
                            <div class = "col text-white" style="font-size: 25px">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="nav-link text-black" style="font-size:13px" href="#">
                                        Player Name
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="nav-link text-black" style="font-size: 10px" href="#">
                                        TA
                                    </a>
                                </div>
                                <div class="col-1">
                                    #
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>