<nav class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#circle-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = green>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = blue>
                    <use xlink:href="bootstrap-icons.svg#circle-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #160d7c>
                    <use xlink:href="bootstrap-icons.svg#circle-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = orange>
                    <use xlink:href="bootstrap-icons.svg#shield-slash-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #8b1313>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = yellow>
                    <use xlink:href="bootstrap-icons.svg#bookmark-check-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = orange>
                    <use xlink:href="bootstrap-icons.svg#hexagon" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #6c75eb>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = yellow>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #b7ce51a8>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#circle" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#hexagon" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = blue>
                    <use xlink:href="bootstrap-icons.svg#circle" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = yellow>
                    <use xlink:href="bootstrap-icons.svg#octagon-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#flag-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #45cadb>
                    <use xlink:href="bootstrap-icons.svg#circle" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = purple>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = gold>
                    <use xlink:href="bootstrap-icons.svg#circle" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = green>
                    <use xlink:href="bootstrap-icons.svg#circle-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = blue>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = blue>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = green>
                    <use xlink:href="bootstrap-icons.svg#hexagon-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = red>
                    <use xlink:href="bootstrap-icons.svg#shield-fill" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = #aa1931>
                    <use xlink:href="bootstrap-icons.svg#shield" />
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg class="bi align-bottom me-2" width="24" height="24" color = white>
                    <use xlink:href="bootstrap-icons.svg#diamond" />
                </svg>
            </a>
        </li>
    </ul>
</nav>