<nav class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="https://www.atlutd.com/">
                <img src="./assets/AtlantaFC.png" height=50>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.austinfc.com/">
                <img src="./assets/Austin.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://charlottefootballclub.com/">
                <img src="./assets/CharlotteFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.chicagofirefc.com/">
                <img src="./assets/ChicagoFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.fccincinnati.com/">
                <img src="./assets/CincinattiFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.coloradorapids.com/">
                <img src="./assets/ColoradoFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.columbuscrew.com/">
                <img src="./assets/ColumbusFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.fcdallas.com/">
                <img src="./assets/DallasFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.dcunited.com/">
                <img src="./assets/DCFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.houstondynamofc.com/">
                <img src="./assets/HoustonFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.sportingkc.com/">
                <img src="./assets/KCFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.lagalaxy.com/">
                <img src="./assets/GalaxyFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.lafc.com/">
                <img src="./assets/LAFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.intermiamicf.com/">
                <img src="./assets/MiamiFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.mnufc.com/">
                <img src="./assets/MinnesotaFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.cfmontreal.com/">
                <img src="./assets/MontrealFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.nashvillesc.com/">
                <img src="./assets/NashvilleFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.revolutionsoccer.net/">
                <img src="./assets/NEFC.png" height=30>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.newyorkredbulls.com/">
                <img src="./assets/NYFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.nycfc.com/">
                <img src="./assets/NYCFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.orlandocitysc.com/">
                <img src="./assets/OrlandoFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.philadelphiaunion.com/">
                <img src="./assets/PhiladelphiaFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.timbers.com/">
                <img src="./assets/PortlandFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.rsl.com/">
                <img src="./assets/RSLFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.sjearthquakes.com/">
                <img src="./assets/SJFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.soundersfc.com/">
                <img src="./assets/SeattleFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.stlcitysc.com/">
                <img src="./assets/SLFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.torontofc.ca/">
                <img src="./assets/TorontoFC.png" height=40>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.whitecapsfc.com/">
                <img src="./assets/VancouverFC.png" height=40>
            </a>
        </li>
    </ul>
</nav>